<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/404.css">
    <title>Noooo :((((</title>
</head>

<body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">La page que vous cherchez est introuvable, été déplacée, changée de nom
            ou alors un gobelin l'a volé...
        </p>
        <p class="output">Essayez de prendre du recul et de <a onclick="history.back()">Retourner en arrière</a> ou de <a href="/">Retourner à la maison</a>.</p>
        <p class="output">Bonne chance :)</p>
    </div>
</body>

</html>